
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital@0;1&display=swap');

$font-stack: sans-serif;
$light_color: #ffffff;
$dark_color: #242222;
$primary-color: rgb(202, 32, 32);
$secondary-color: #ff8700;
$font-weight: 600;
$background-color: #fcf8f8;
$background-image-light: url(../photo/category-bg-light.png);
$background-image-dark:  url(../photo/category-bg-dark.png);

:root
{
	/*--------- Color variable ---------*/
	--blue-color: #33467b;
	---light--blue-color: #69788F;

	/*---------- Font size ------------*/
	---heading--font-size: 1.5rem;
	---paragraph--font-size: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Serif Pro', serif;
}

body
{
  // font-family: 'Poppins', sans-serif;


  img
{
	width: 100%;
	height: 0 auto;
}

.breadcrumb a {
  color: #1b6eeb;

  &:hover {
    color: #1266e4;
  }
}

.heading
{
	font-weight: 600;
}

.para-line
{
	color: var(---light--blue-color);
	font-size: var(---paragraph--font-size);
}

.white
{
	color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;

  &:hover {
    color: #ffffff;
  }
}
.btns
{
	background-color: #ffffff;
	padding: 0.8rem 2.5rem;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.btns a
{
	color: black;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.2rem;
	font-family: 'Poppins', sans-serif;
}

.border-btns
{
	border: 2px solid $primary-color;
	margin: 1.5rem 0;
	transition: .5s;
}

.border-btns:hover
{
	background: $primary-color;
}

.border-btns:hover a
{
	color: #ffffff;
}
/*--------------- header nav section start -----------------*/
header { 
  width: 100vw;
  height: 80px;
  background-color: #fff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);

  a {
    text-decoration: none;
    color: currentColor;
    &:hover {
      color: currentColor;
    }
  }
  .dropdown-menu {
    background-color: $primary-color;
    padding: 0;
    letter-spacing: normal;
    
    a {
    color: $light_color;
  }
  .dropdown-menu li:hover {
    background-color: #fdf0f0;
    color: $primary-color;
  }
}

  .container-fluid {
    width: 100%;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navb-logo img {
    width: 141px;
    height: 66px;
  }

  .navb-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 3px;

    .items {
      text-align: center;
      margin-inline: 15px;
      font-size: 18px;
      letter-spacing: 3px;
      color: #102447;
      padding: 5px 0;
      transition: all .15s ease;
      border-bottom: 0px solid $primary-color;
      border-top: 0px solid $primary-color;
      cursor: pointer;

      &:hover {
        border-bottom: 3px solid $primary-color;
        border-top: 3px solid $primary-color;
      }
    }
  }

  // Modal
  .modal-dialog {
    // position: absolute;
    // right: 0;
    margin: 0;
    width: 430px;
  }

  @media (max-width: 750px) {
    .modal-dialog {
      width: 350px;
    }
  }

  .modal-content {
    border-radius: 0;
    height: 100vh;
    overflow-y: scroll;
    background-color: $primary-color;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    margin: 0 auto;
    padding-bottom: 16px;
    border-bottom: 2px solid $light_color;

   

    img {
      width: 140px;
      height: 66px;
      margin-top: 17.5px;
    }

    .btn-close {
      background: transparent;
      opacity: 1;
    }

    i {
      color: $light_color;
      font-size: 30px;
    }
  }

  .modal-body {
    width: 88%;
    margin: 0 auto;
    padding: 75px 0 0 0;
    flex: unset;

 
    .modal-line {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 7px 0;
      margin-bottom: 50px;
      cursor: pointer;
      transition: all .2s ease;
      color: rgba(104, 6, 6);
      border-bottom: 1px solid rgba(104, 6, 6);

      &:hover {
        color: $light_color;
        border-bottom: 2px solid $light_color;
      }

      a {
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 2.5px;
        color: $light_color;
      }

      i {
        color: currentColor;
        font-size: 30px;
        width: 35px;
        margin-right: 15px;
        padding: 0 0 3px 3px;
      }
    }
    .dropdown-menu {
      background-color: $light_color;
      padding: 0;
      
      a {
      color: $primary-color;
      font-size: 1rem;
      letter-spacing: normal;

    }
    .dropdown-menu a:hover {
      background-color: $primary-color;
      color: $light_color;
    }
  }


    .navb-button {
      width: 100%;
      height: 47px;
      background-color: $light_color;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-weight: 700;
      color: $primary-color;
      letter-spacing: 2px;
      transition: all .5s ease;

      &:hover {
        background-color: rgb(82, 12, 12);
        color: $light_color;
      }
    }
  }

  .mobile-modal-footer {
    width: 87%;
    margin: 0 auto;
    padding: 20% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    color: rgb(82, 12, 12);

    i:hover {
      color: $light_color;
    }
  }
}



/*--------------- header nav section end -----------------*/

/*--------------- Hero section start -----------------*/

  .hero {
	// height: 80vh;
	width: 100%;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.9)), url(../photo/pic8.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    .containers {
      position: relative;
	height: 80vh;
	width: 100%;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

  .para-line {
    position: relative;
    justify-content: center;
	align-items: center;
    font-size: 1.3rem;
	margin: 1rem 0 1rem 0;
  width: 50%;

}
	
}
}
/*--------------- Hero section end -----------------*/


/*------------------Services section start  ------------*/
.service-container {
  // background-color: $background-color;
  background-image: $background-image-dark;

  .service-header {
    letter-spacing: 1.5px;
  }
}
/*------------------Services section end  ------------*/

/*------------------------Sub services start ---------------- --*/
.sub-services img, .sub-services2 img, .sub-services3 img {
  border-radius: 40px;
}
/*------------------------Sub services end ---------------- --*/

.success-section {
  // background-color: $background-color;
  background-image: $background-image-dark;
  background-position: left;


  .success-description {
    font-size: 1.2rem;
  }
}

.team-section {
  .team-description {
    font-size: 1.2rem;
  }
  .team-card-detail {
    letter-spacing: 2px;
  }
  
}

.testimony-section {
  background-image: $background-image-dark;
  background-position: left;

  .testimony-description {
    font-size: 1.2rem;
  }
  // .testimony-card-detail {
  //   letter-spacing: 2px;
  // }

  .client-testimony {
    img {
      width: 50px;
    }
  }
}

.about-section {
  background-image: $background-image-light;
  background-position: left;

}

.sub-services2 {
  background-image: $background-image-light;
  background-position: left;

}







/*------------------ About Us Page Begining .......................*/

/*--------------- About Hero section end -----------------*/

  .about-hero {
	height: 80vh;
	width: 100%;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.9)), url(../photo/course-about.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    .containers {
      position: relative;
	height: 80vh;
	width: 100%;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

  .para-line {
    position: relative;
    justify-content: center;
	align-items: center;
    font-size: 1.3rem;
	margin: 1rem 0 1rem 0;
  width: 50%;
}
	
}
}
/*--------------- About Hero section end -----------------*/

/*--------------- About details start -----------------*/

.about-details {
  background-image: $background-image-dark;
  // background-position: top;
}
  /*--------------- About details end -----------------*/


  /*--------------- Contact Hero section end -----------------*/

  .contact-hero {
    height: 80vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.9)), url(../photo/course-bg.jpg);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
  
      .containers {
        position: relative;
    height: 80vh;
    width: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;    
  }
  }
  /*--------------- contact Hero section end -----------------*/

  /*--------------- contact details start -----------------*/

  .contact-page-details {
    .heading {
      background-color: #f5eded;
      margin-bottom: 20px;
      text-align: justify;
      text-justify: inter-word;
    }
    .address p {
      font-weight: 600;
    }

  a {
    color: #1a1ad3; 
    &:hover {
      text-decoration: underline;
    }
  }


}

/*--------------- contact details ed -----------------*/

/* Services */
.research-service-hero {
	// height: 60vh;
	width: 100%;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.9)), url(../photo/pic5.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    .containers {
      position: relative;
	// height: 80vh;
	width: 100%;
  color: #fffcfc;
	padding: 1.2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:start;
	text-align: start;
	
  h4 {
    margin-top: 150px;
    border-bottom: $light_color solid 2px;
  }
}
}

.middle-text {
  margin-top: -20%;
  max-width: 80%;
}

}

